# Ignore all logfiles and tempfiles. and work files
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/.DS_Store
/*/.DS_Store
/_work
/_work/**

# Ignore media files
/media/video/**
!/media/video/.keep
!/media/video/demo
!/media/video/demo/**

/media/audio/**
!/media/audio/.keep

/media/images/**
!/media/images/.keep
!/media/images/curtains.png
!/media/images/readme
!/media/images/readme/**

# ignore zips
**/*.zip
*.zip

# ignore other index files
/index_*.html

# ignore custom zip scripts
/zip_*.sh
